<% layout('./layout/boilerplate') %>
<h1 class="text-center"> Movie Details</h1>
<div class="col-8 offset-2">
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="" alt="">
            </div>
            <div class="col-mg-8">
                <h2>Title: <%= movie.title %></h2>
                <h2>Casts: <%= movie.cast %></h2>
                <h2>movie Year: <%= movie.year %></h2>
                <h2>Description: <%= movie.description %></h2>
                <h2>Country: <%= movie.country %>
                </h2>
                <h2>Genre: <%= movie.genre %>
                </h2>
                <h2>Release Date: <%= movie.release_date %>
                </h2>
                <h2>movie language: <%= movie.language %>
                </h2>
                <p>
                <form action="/movie/<%=movie._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
    <footer>
        <p><a class="btn btn-success" href="/movie">All movies</a></p>
        <p><a class="btn btn-success" href="/movie/<%=movie._id%>/edit ">Edit movie</a></p>
    </footer>
